* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: 10vw;
	margin: 0;
	color: #fff;
}

.column-container{
	font-size: 0;
}
.column-container > *{display: inline-block; vertical-align: top; font-size: medium;}

a.route{
	width: 25%;
	text-align: center;
	padding: 20px;
	font-size: 1.5rem;
}

.page{min-height: 100vh; padding-top: 50px;}
.page_home{background: #049372;}
.page_contact{background: #336E7B; }
.page_about{background: #F27935;}
.page_portfoliio{background: #8E44AD;}
